<div class="container mt-5">
    {{#if user}}
        <div class="alert alert-primary" role="alert">
            Bienvenido {{user.nombre}} !! 
            <img src={{user.foto}} alt="foto usuario" class="avatar">
            <a href= "/api/productos/logout" type="button" class="btn btn-danger">Salir</a>
        </div>
    {{/if}}
        {{#if admin}}
        {{#if productsExist }}
            <div class="cards_productos">
                {{#each productos}}
                    <div class="card">
                        <a href="/api/productos/{{this.codigo}}"> 
                            <img src="https://i.imgur.com/co9hKNo.png" alt="pencil" class="pencil">
                        </a>
                        <img src="{{this.foto}}" alt="{{this.nombre}}" class="card-img-top productoImg"  name="foto" >
                        <div class="card-body">
                            <h5 class="card-title">{{this.nombre}}</h5>
                            <p class="card-text" >{{this.descripcion}}</p>
                            <p class="card-text" > Precio : {{this.precio}}</p>
                            <p class="card-text" >Stock : {{this.stock}}</p>
                        </div>
                        <a href="/api/carritos/" class="btn btn-info"> <p>Agregar Al carrito </p> </a>
                        
                    </div>
                {{/each}}
            </div>
        {{/if}}
        <h1>Usted es admin - Agregar Producto </h1>
        <form action="/api/productos/" method="post">
            <div class="container mt-5">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input class="form-control" type="text" name="nombre">
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <input class="form-control" type="text" name="descripcion">
                </div>
                <div class="form-group">
                    <label for="stock">Stock</label>
                    <input class="form-control" type="number" name="stock">
                </div>
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input class="form-control" type="number" name="precio">
                </div>
                <div class="form-group">
                    <label for="foto">Foto</label>
                    <input class="form-control" type="text" name="foto">
                </div>
                <button type="submit"  class="btn btn-primary">Cargar Producto</button>
            </div>
        </form>
    {{else}}
    {{#if productsExist }}
        <div class="cards_productos">
            {{#each productos}}
                <div class="card">
                    <img src="{{this.foto}}" alt="{{this.nombre}}" class="card-img-top"  name="foto" >
                    <div class="card-body">
                        <h5 class="card-title">{{this.nombre}}</h5>
                        <p class="card-text" >{{this.descripcion}}</p>
                        <p class="card-text" > Precio : {{this.precio}}</p>
                        <p class="card-text" >Stock : {{this.stock}}</p>
                    </div>
                    <button class="btn btn-info"> Agregar Al carrito </button>
                    
                </div>
            {{/each}}
        </div>
    {{/if}}
{{/if}}

</div>


